[user]
	name = Luis Belloch
	email = luis@luisbelloch.es
[alias]
	tree = log --decorate --oneline --graph

[core]
	excludesFile = ~/.gitignore

[init]
	defaultBranch = main
[push]
	default = simple
	autoSetupRemote = true
